<section class="banner-section tcent" id="top-heading">
    <div class="heading" id="heading">
        <h4>
            <span><img src="/images/star.svg" alt="" /></span> BEST PHOTOGRAPHY SERVICES
        </h4>
        <h1>
            Our team helps get and keep <br />
            your memories safe.
        </h1>
    </div>
    <div class="banner-img" style="background-image: url(/images/about.jpg);">
        <!-- <img src="./images/banner.jpg" alt="" width="1440" height="700" /> -->
    </div>
</section>

<!-- Our story section -->
<section class="about-section">
    <div class="container">
        <div class="grid">
            <div class="about-text" id="about-text">
                <h5>OUR STORY</h5>
                <h1>
                    We’ve been in business <br />
                    since 2020.
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                    sed do eiusmod tempor incididunt ut labore et dolore <br />
                    magna aliqua.
                </p>
                <p>
                    Ut enim ad minim veniam, quis nostrud exercitation <br />
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="about-img" id="about-img">
                <div class="back"></div>
                <img src="./images/banner.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<!-- Our mission section -->
<section class="about-section">
    <div class="container">
        <div class="grid">
            <div class="about-img">
                <div class="back"></div>
                <img src="/images/about1.jpg" alt="" />
            </div>
            <div class="about-text">
                <h5>OUR STORY</h5>
                <h1>Our mission is to help store the memories of every child.</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                    sed do eiusmod tempor incididunt ut labore et dolore <br />
                    magna aliqua.
                </p>
                <p>
                    Ut enim ad minim veniam, quis nostrud exercitation <br />
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- contact section starts -->
<section class="contact" id="">
    <div class="form-whole phone-container">
        <div class="heading">
            <h5>Contact Us</h5>
            <h1>
                Get in touch to get your first Photo
            </h1>
        </div>
        <div class="contact-form tcent">
            <form action="">
                <div class="input-bottom" id="name">
                    <p>FullName *</p>
                    <input type="text" name="" id="" placeholder="e.g Michael Williams" class="text-center input-control"
                        required />
                </div>
                <div class="input-bottom">
                    <p>Email Address *</p>
                    <input type="text" name="" id="" placeholder="example@gmail.com" class="text-center input-control" required />
                </div>
                <div class="input-bottom">
                    <p>Phone Number *</p>
                    <input type="text" name="" id="" placeholder="070 333 444 555" class="text-center input-control" required />
                </div>
                
                <div class="input-bottom">
                    <div class="input-bottom">
                        <p>Message *</p>
                        {{!-- <input type="text" name="" id="input-control" placeholder="Type your Message" class="input-control"
                            required /> --}}
                        <textarea name="" id="input-controdsl" cols="30" rows="5" placeholder="Type your Message"></textarea>
                    </div>
                    
                </div>
            </form>
            <div class="btn">
                <a href="">
                    <button>Submit</button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- contact section end -->