<style>
    body {
        background: #222D32;
        font-family: 'Roboto', sans-serif;
    }

    .login-box {
        margin-top: 75px;
        height: auto;
        background: #1A2226;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .login-key {
        height: 100px;
        font-size: 80px;
        line-height: 100px;
        background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .login-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        margin-top: 15px;
        font-weight: bold;
        color: #ECF0F5;
    }

    .login-form {
        margin-top: 25px;
        text-align: left;
    }

    input[type=text] {
        background-color: #1A2226;
        border: none;
        border-bottom: 2px solid #0DB8DE;
        border-top: 0px;
        border-radius: 0px;
        font-weight: bold;
        outline: 0;
        margin-bottom: 20px;
        padding-left: 0px;
        color: #ECF0F5;
    }

    input[type=password] {
        background-color: #1A2226;
        border: none;
        border-bottom: 2px solid #0DB8DE;
        border-top: 0px;
        border-radius: 0px;
        font-weight: bold;
        outline: 0;
        padding-left: 0px;
        margin-bottom: 20px;
        color: #ECF0F5;
    }

    .form-group {
        margin-bottom: 40px;
        outline: 0px;
    }

    .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 2px solid #0DB8DE;
        outline: 0;
        background-color: #1A2226;
        color: #ECF0F5;
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 0;
    }

    label {
        margin-bottom: 0px;
    }

    .form-control-label {
        font-size: 10px;
        color: #6C6C6C;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .btn-outline-primary {
        border-color: #0DB8DE;
        color: #0DB8DE;
        border-radius: 0px;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .btn-outline-primary:hover {
        background-color: #0DB8DE;
        right: 0px;
    }

    .login-btm {
        float: left;
    }

    .login-button {
        padding-right: 0px;
        text-align: right;
        margin-bottom: 25px;
    }

    .login-text {
        text-align: left;
        padding-left: 0px;
        color: #A2A4A4;
    }

    .loginbttm {
        padding: 0px;
    }
</style>



<div class="page-wrapper">
    



    <!-- contact section starts -->
    {{!-- <section class="contact" id="contactn">
        <div class="form-whole">
            <div class="head">
                <h3 class="text-muted">
                    Admin
                </h3>
                <h1>
                    Login Details
                </h1>
            </div>
            <div class="contact-form">
                <form action="/admin/login" id="loginAccount" method="post">
                    <div class="input-bottom" id="name">
                        <p>Username *</p>
                        <input type="text" name="username" id="signSurname" placeholder="e.g Williams"
                            class="input-control" required />
                    </div>
                    <div class="input-bottom" id="name">
                        <p>Password *</p>
                        <input type="password" name="pwrd" id="signSurname" placeholder="Password" class="input-control"
                            required />
                    </div>

                    <div class="btn">
                        <a href="">
                            <button type="submit" class="btn">Login</button>
                        </a>
                    </div>
                </form>
                <p>Don't have an account yet?<a href="/signuppage"> Signup now</a></p>
                <br>
                {{!-- <span>Or</span> --}}
                {{!-- <a href="/loginpage">User Login</a></p> --}}
            </div>
        </div>
    </section> --}}
    <!-- contact section end -->

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between" style="width:100%;margin:0;">
                    <a class="navbar-brand brand-logo-mini" href="/"><img src="/images/dashboard/logo-1.png" alt="logo" /></a>
                
                </div>
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    ADMIN PANEL
                </div>
                
                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form text-center">
                        
                        <form action="/admin/login" method="post">
                            <div class="form-group">
                                <label class="form-control-label">USERNAME</label><br>
                                <input style="text" type="text" class="fs-30 w-50 px-3 form-control mx-auto text-center" name="username" placeholder="Abdul"
                            class="input-control" required >
                            </div>
                            <div class="form-group mx-auto">
                                
                                <label class="form-control-label">PASSWORD</label><br>
                                <input style="border-radnius: 25px;" type="password" class="text-center mx-auto w-50 px-3 form-control" name="pwrd" placeholder="Password"
                            required >
                            </div>
    
                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-12 login-btn login-button text-center">
                                    <button type="submit" class=" mx-auto btn btn-outline-primary">LOGIN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </div>

</div>