<section class="contact" id="contactn">
    <div class="form-whole">
        <div class="heading">
            <h1>
                Let us know what you think
            </h1>
        </div>
        <div class="contact-form tcent bolool text-center" >
            <form action="">
                <div class="input-bottom" id="name">
                    <p>FullName *</p>
                    <input type="text" name="" id="" placeholder="e.g Michael Williams" class="text-center input-control"
                        required />
                </div>
                <div class="input-bottom">
                    <p>Email Address *</p>
                    <input type="text" name="" id="" placeholder="example@gmail.com" class="text-center input-control" required />
                </div>
                <div class="input-bottom">
                    <p>Phone Number *</p>
                    <input type="text" name="" id="" placeholder="070 333 444 555" class="text-center input-control w-20" required />
                </div>
                <div class="input-bottom">
                    <p>Message *</p>
                    {{!-- <input type="text" name="" id="input-control" placeholder="Type your Message" class="input-control"
                        required /> --}}
                    <textarea name="" id="input-controdsl" cols="30" rows="5" placeholder="Type your Message"></textarea>
                </div>
            </form>
            <div class="btn">
                <a href="">
                    <button>Submit</button>
                </a>
            </div>
        </div>
    </div>
</section>