<div class="faq-container">
    <div class="container">
        <h2>Frequently asked questions</h2>
        <div class="faq  mx-auto text-center">
            <div class="question">
                <h3>
                    Lorem ipsum dolor sit amet consectetur?
                    <i class="icon-arrow_drop_down"></i>
                </h3>
            </div>
            <div class="answer" id="answer">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi
                    odit similique qui ullam porro sunt officiis odio iusto expedita
                    quod id at, asperiores libero harum debitis ducimus eveniet ad
                    doloremque.<i class="fa fa-sort-desc"></i>
                </p>
            </div>
        </div>
        <div class="faq  mx-auto text-center">
            <div class="question">
                <h3>
                    Lorem ipsum dolor sit amet consectetur?
                    <i class="icon-arrow_drop_down"></i>
                </h3>
            </div>
            <div class="answer" id="answer">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                    corrupti quis nemo reiciendis maiores dicta veritatis numquam,
                    pariatur quo ad eius commodi illum quae laudantium a cum optio
                    similique beatae?<i class="fa fa-sort-desc"></i>
                </p>
            </div>
        </div>
        <div class="faq  mx-auto text-center">
            <div class="question">
                <h3>
                    Lorem ipsum dolor sit amet consectetur?
                    <i class="icon-arrow_drop_down"></i>
                </h3>
            </div>
            <div class="answer" id="answer">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum
                    hic esse corrupti, ea cupiditate necessitatibus minima recusandae
                    totam quasi nostrum sit aspernatur voluptatibus eveniet rerum
                    ullam facilis maxime minus non!<i class="fa fa-sort-desc"></i>
                </p>
            </div>
        </div>
        <div class="faq  mx-auto text-center">
            <div class="question">
                <h3>
                    Lorem ipsum dolor sit amet consectetur?
                    <i class="icon-arrow_drop_down"></i>
                </h3>
            </div>
            <div class="answer" id="answer">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea
                    accusantium nostrum quibusdam iusto, tenetur fugit. Nihil porro
                    doloribus reiciendis consequatur. Explicabo a nesciunt animi quis
                    libero rem excepturi ipsa facilis?<i class="fa fa-sort-desc"></i>
                </p>
            </div>
        </div>
        <div class="faq  mx-auto text-center">
            <div class="question">
                <h3>
                    Lorem ipsum dolor sit amet consectetur?
                    <i class="icon-arrow_drop_down"></i>
                </h3>
            </div>
            <div class="answer" id="answer">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                    praesentium, omnis obcaecati aspernatur, aperiam repellendus ut
                    atque in perspiciatis soluta dolorem cumque iure architecto
                    pariatur aliquid sequi facilis minima impedit.
                    <i class="fa fa-sort-desc"></i>
                </p>
            </div>
        </div>
        <div class="faq  mx-auto text-center">
            <div class="question">
                <h3>
                    Lorem ipsum dolor sit amet consectetur?
                    <i class="icon-arrow_drop_down"></i>
                </h3>
            </div>
            <div class="answer" id="answer">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                    fugit autem voluptas molestias laboriosam laborum totam mollitia
                    repudiandae quibusdam, dolorum, ullam dolor debitis labore ipsam
                    accusantium molestiae laudantium beatae harum.<i class="fa fa-sort-desc"></i>
                </p>
            </div>
        </div>
        <div class="faq  mx-auto text-center">
            <div class="question">
                <h3>
                    Lorem ipsum dolor sit amet consectetur?
                    <i class="icon-arrow_drop_down"></i>
                </h3>
            </div>
            <div class="answer" id="answer">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Assumenda nihil tenetur velit vel architecto excepturi dolor optio
                    eum dolores quod totam minus omnis libero ab, ratione explicabo
                    perferendis, enim ex!
                    <i class="fa fa-sort-desc"></i>
                </p>
            </div>
        </div>
        <div class="faq  mx-auto text-center">
            <div class="question">
                <h3>
                    Lorem ipsum dolor sit amet consectetur?
                    <i class="icon-arrow_drop_down"></i>
                </h3>
            </div>
            <div class="answer" id="answer">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem
                    deserunt, ea quisquam aperiam deleniti esse asperiores quis ad
                    cupiditate explicabo tempore unde ducimus et quia quibusdam
                    provident voluptatum consequatur laborum.
                    <i class="fa fa-sort-desc"></i>
                </p>
            </div>
        </div>
        <div class="faq  mx-auto text-center">
            <div class="question">
                <h3>
                    Lorem ipsum dolor sit amet consectetur?
                    <i class="icon-arrow_drop_down"></i>
                </h3>
            </div>
            <div class="answer" id="answer">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor,
                    ipsum! Totam velit aut veritatis earum quas voluptatum molestiae
                    nemo, architecto est accusamus cum possimus eum unde consectetur
                    consequuntur sed repellendus. <i class="fa fa-sort-desc"></i>
                </p>
            </div>
        </div>
    </div>
</div>