<section class="hero-section" id="hero-section">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-5">
                <div class="hero-text">
                    <h1>
                        All memories
                        are preserved
                    </h1>
                    <p>
                        Capture your child's precious
                        moments forever with our stunning,
                        high quality pictures
                    </p>
                    <div class="btn">
                        <a href="/signuppage">
                            <button class="text-center">
                                Find Photos <i class="icon-arrow"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img">
                    <div class="back"></div>
                    <img src="/images/banner2.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- UNIQUE SECTION -->
<section class="unique-section">
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="row">
                <div class="col-md-8 heading">
                    <h1>
                        We recognise the uniqueness <br />
                        of each child's personality
                    </h1>
                    <p>
                        appreciating a child's individuality <br />
                        can help support their development
                    </p>
                </div>
                <div class="col-md-4 unique-btn pt-lg-5">
                    <a href="/signuppage">
                        <button>
                            Find individual photos <i class=""></i>
                        </button>
                    </a>
                </div>
            </div>
            {{!-- <div class="featured-carousel owl-carousel">
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(/images/unique-1.jpeg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="openModal();currentSlidee(1)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(/images/unique-2.jpeg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="openModal();currentSlidee(2)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(/images/unique-3.jpeg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="openModal();currentSlidee(3)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(./images/unique-4.jpeg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="openModal();currentSlidee(4)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(./images/unique-5.jpeg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="openModal();currentSlidee(5)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(./images/unique-6.jpg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="openModal();currentSlidee(6)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</section>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close cursor" onclick="closeModal()"><i class="icon-close demi-close"></i></span>
        <div class="mySlides demiMySlides">
            <div class="numbertext">1 / 6</div>
            <img src="/images/unique-1.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides demiMySlides">
            <div class="numbertext">2 / 6</div>
            <img src="/images/unique-2.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides demiMySlides">
            <div class="numbertext">3 / 6</div>
            <img src="/images/unique-3.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides demiMySlides">
            <div class="numbertext">4 / 6</div>
            <img src="/images/unique-4.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides demiMySlides">
            <div class="numbertext">5 / 6</div>
            <img src="/images/unique-5.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides demiMySlides">
            <div class="numbertext">6 / 6</div>
            <img src="/images/unique-6.jpg" style="width: 100%" />
        </div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlidee(-1)">&#10094;</a>
        <a class="next" onclick="plusSlidee(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <!-- Thumbnail image controls -->
        <!-- <div class="row">
          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-1.jpeg" onclick="currentSlide(1)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-2.jpeg" onclick="currentSlide(2)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-3.jpeg" onclick="currentSlide(3)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-4.jpeg" onclick="currentSlide(4)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-5.jpeg" onclick="currentSlide(5)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-6.jpg" onclick="currentSlide(6)" />
          </div>
        </div> -->
    </div>
</div>

<!-- GRADUATION SECTION -->

<div id="newMyModal" class="modal">
    <div class="modal-content">
        <span class="close cursor" onclick="newcloseModal()"><i class="icon-close demi-close"></i></span>
        <div class="mySlides myNewSlide">
            <div class="numbertext">1 / 6</div>
            <img src="/images/grad-1.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides myNewSlide">
            <div class="numbertext">2 / 6</div>
            <img src="/images/grad-2.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides myNewSlide">
            <div class="numbertext">3 / 6</div>
            <img src="/images/grad-3.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides myNewSlide">
            <div class="numbertext">4 / 6</div>
            <img src="/images/grad-4.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides myNewSlide">
            <div class="numbertext">5 / 6</div>
            <img src="/images/grad-5.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides myNewSlide">
            <div class="numbertext">6 / 6</div>
            <img src="/images/grad-6.jpeg" style="width: 100%" />
        </div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlided(-1)">&#10094;</a>
        <a class="next" onclick="plusSlided(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <!-- Thumbnail image controls -->
        <!-- <div class="row">
          <div class="col-md-2">
            <img class="demo img-fluid" src="/images/unique-1.jpeg" onclick="currentSlide(1)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-2.jpeg" onclick="currentSlide(2)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-3.jpeg" onclick="currentSlide(3)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-4.jpeg" onclick="currentSlide(4)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-5.jpeg" onclick="currentSlide(5)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-6.jpg" onclick="currentSlide(6)" />
          </div>
        </div> -->
    </div>
</div>

<!-- CLASS SECTION -->
{{!-- <section class="class-section">
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="row">
                <div class="col-md-8 heading">
                    <h1>Every class is a team of interesting<br />characters</h1>
                    <p>easily have access to your child's class photos</p>
                </div>
                <div class="col-md-4 unique-btn pt-lg-5">
                    <a href="/signuppage">
                        <button>
                            Find class photos <i class="icon-arrow-right"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="featured-carousel owl-carousel">
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(./images/class-1.jpeg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="semiopenModal();currentSlider(1)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(./images/class-2.jpeg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="semiopenModal();currentSlider(2)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(./images/class-3.jpeg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="semiopenModal();currentSlider(3)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(./images/class-4\ \(1\).jpg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="semiopenModal();currentSlider(4)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(./images/class-5.jpg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="semiopenModal();currentSlider(5)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work">
                        <div class="img d-flex align-items-center justify-content-center rounded"
                            style="background-image: url(./images/class-6.jpg);">
                            <div class="layover" id="layover">
                                <div class="btn" onclick="semiopenModal();currentSlider(6)">
                                    <p>Preview photo</p>
                                </div>
                                <div class="btn" id="btn">
                                    <p>Select photo</p>
                                </div>
                            </div>
                            <div class="heart">
                                <a href="">
                                    <i class="icon-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text pt-3 w-100 text-center">
                            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                            </h3>
                            <span>Year 1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}

<div id="semiMyModal" class="modal">
    <div class="modal-content">
        <span class="close cursor" onclick="semicloseModal()"><i class="icon-close demi-close"></i></span>
        <div class="mySlides semiMySlide">
            <div class="numbertext">1 / 6</div>
            <img src="/images/class-1.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides semiMySlide">
            <div class="numbertext">2 / 6</div>
            <img src="/images/class-2.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides semiMySlide">
            <div class="numbertext">3 / 6</div>
            <img src="/images/class-3.jpeg" style="width: 100%" />
        </div>

        <div class="mySlides semiMySlide">
            <div class="numbertext">4 / 6</div>
            <img src="/images/class-4 (1).jpg" style="width: 100%" />
        </div>

        <div class="mySlides semiMySlide">
            <div class="numbertext">5 / 6</div>
            <img src="/images/class-5.jpg" style="width: 100%" />
        </div>

        <div class="mySlides semiMySlide">
            <div class="numbertext">6 / 6</div>
            <img src="/images/class-6.jpg" style="width: 100%" />
        </div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlider(-1)">&#10094;</a>
        <a class="next" onclick="plusSlider(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <!-- Thumbnail image controls -->
        <!-- <div class="row">
          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-1.jpeg" onclick="currentSlide(1)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-2.jpeg" onclick="currentSlide(2)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-3.jpeg" onclick="currentSlide(3)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-4.jpeg" onclick="currentSlide(4)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-5.jpeg" onclick="currentSlide(5)" />
          </div>

          <div class="col-md-2">
            <img class="demo img-fluid" src="./images/unique-6.jpg" onclick="currentSlide(6)" />
          </div>
        </div> -->
    </div>
</div>

<!-- PACKAGES SECTION -->
<section class="packages-section">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-6">
                <div class="package-text">
                    <h1>
                        Unique packages for any
                        photo you purchase
                    </h1>
                    <p>
                        easily preview your favorite photos
                        available on mockups for instant delivery
                    </p>
                    <div class="btn">
                        <a href="">
                            <button>
                                View packages <i class="icon"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row package-img">
                    <!-- <div class="lay-overs"></div> -->
                    <div class="col-lg-5 col-md-5 col-sm-5 img-1">
                        <img src="/images/package-2.jpg" alt="" />
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 img-2">
                        <img src="/images/package-1.jpeg" alt="" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 img-3">
                        <img src="/images/package-3.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>