<!-- Hero Section -->


<section class="services-banner mb-4" id="services-banner">
    <div class="heading">
        <h1>OUR SERVICES</h1>
        
        {{!-- <h1>Photo Gallery</h1> --}}
    </div>
    <div class="video-container mb-3">
        <div class="service-text mb-2">
            <div class="service-logo">
                <i class="icon-photo_album"></i>
            </div>
            <h2>About our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut <br> enim ad minim veniam, quis nostrud exercitation ullamco
                laboris <br> nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <br> dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat <br> non proident, sunt in culpa qui officia
                deserunt mollit anim id est <br> laborum.</p>
        </div>
    </div>
</section>
